@media screen and (max-width:500px) {
/*------------------------------------------Header-----------------------------------------------*/
.header__lbl{
    margin: 1rem 0;
    font-size: 2.2rem;
}
/*--------------------------------------Navegacion-----------------------------------------------*/
.navegacion{
    gap: 1rem;
}
.navegacion__enlace{
    font-size: 1.6rem;
}
/*--------------------------------------Marca-----------------------------------------------*/
.marca__hijo{
    display: flex;
    flex-direction: column;
}
.marca__img{
    width: 60%;
}
.marca__slogan{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
/*--------------------------------------Productos-----------------------------------------------*/
.titulo__main{
    margin: 1rem 0;
    font-size: 2.5rem;
}
.productos__padre{
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}
.productos{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productos__info{
    padding: 0;
}
/*------------------------------------------Footer-----------------------------------------------*/
.footer{
    justify-content: center;
    margin-bottom: 15px;
    padding: 3rem 0 1rem;
}
.footer-cierre h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
.footer-cierre p{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.footer-icons{
    margin: 0 1rem;
    margin-bottom: 1rem;
}
/*------------------------------------------Producto-----------------------------------------------*/
.producto__padre{
    display: flex;
    flex-direction: column;
}
.producto__descripcion{
    margin: 1rem 0 2rem;
}
/*------------------------------------------Sobre Nosotros-----------------------------------------------*/
.sn__padre{
    grid-template-columns: 1fr;
}
.sn__img{
    grid-row: 1/2;
    grid-column: 1/2;
}
.sn__info{
    padding:  0 2rem;
}
.sn__serviciosPadre{
    grid-template-columns: 1fr;
    margin: 3rem 0;
}
}